:root {
    --t-c-1: rgb(255, 255, 255);
    --t-c-2: rgb(225, 225, 225);
    --t-c-3: rgb(195,195,195);
    --t-c-4: rgb(165,165,165);

    --b-c-1: rgb(0, 0, 0);
    --b-c-2: rgb(30, 30, 30);
    --b-c-3: rgb(60, 60, 60);
    --b-c-4: rgb(90, 90, 90);

    --t-s-1: 32px;
    --t-s-2: 24px;
    --t-s-3: 16px;
    --t-s-4: 12px;

    --p-c-1: rgb(0,220,130);
}